*{
    margin: 0px;
    padding: 0px;
}

/* .navigation{
    
    font-family: var(--font1);  
    background-color:rgb(65, 59, 59);
    display: flex;
    justify-content: space-between;
    align-items: center;    
    color: rgb(252, 249, 249);  
}
     */
   
/* .nav-left{
    display: flex;
} */

.navbar-brand{
    font-family: var(--font3);
    /* margin: 0px 30px; */
    font-size: 28px;
    padding: 1px;
}


/* 
.nav-left ul li{
    list-style: none;
}
.nav-left ul {
    list-style: none;
    display:flex;
    margin:9px ;
   
    }
    .nav-left ul a{
        text-decoration: none;
        color:white;
        padding: 0px 20px;
        font-size: 18px;
        text-transform: uppercase;
    } 

    a.active,a:hover{
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        
}
    .sbtn{
        padding: 3px 8px;
        border: 2px solid black;
        border-radius: 10px;
        cursor: pointer;
        color: white;
        margin: 0 12px;
        
      }
      
      .form-input{
          
          border: 2px solid black;
          border-radius:8px ;
          font-size: 16px;
          font-size: var(--font1);
      } */



      #btns{
          color: aliceblue;
          border: 2px solid white;
      }

    .content{
        background-color: tomato;
        /* display: grid; */
        /* grid-template-columns: auto; */
        height: 400px;
        /* background-color: rgb(175, 241, 109); */
        display: flex;
        
        position: relative;
    }  
    .content-left{
        font-family: var(--font1);
        display: flex;
        /* align-items: center; */
        justify-content: center;
        flex-direction: column;
        padding: 0 20px;
        z-index: 1;
        text-decoration: none;
    }
     

    .content-right{
        width: 140%;
        display: flex;
        align-items: center;
        justify-content: center;
    }    
    .content-right img{
        width: 84%;
        border: 2px solid black;
        border-radius: 162px;
        /* z-index: -1; */
    }


    
    
